In [42]:
import os
os.chdir('d:/user/01397192/桌面/雅诗兰黛耗材复现题/耗材进销存')

In [43]:
import pandas as pd

In [53]:
file_path = ['3月进销存.xlsx','4月进销存.xlsx', '5月进销存.xlsx', '6月进销存.xlsx']

In [46]:
out_data = pd.DataFrame()
for file in file_path:
    data = pd.read_excel(file, sheet_name = '到货明细')
    data = data.drop(['品牌','系统编码','渠道','物料类型','物料明细','商品编码', '唛头名称','耗材名称','总入库'], axis =1 )
    data = data.set_index('料号')
    data = data.stack()
    data = data.reset_index()
    out_data = pd.concat([out_data, data], axis = 0)
out_data.columns = ['料号','入库日期','入库数量']
out_data.head()

             料号   入库日期     入库数量
0  430300308819  43898  49895.0
1  430300308819  43917   4900.0
2  430300308818  43897  34926.0
3  430300308818  43917   2880.0
4  430300309525  43908   2000.0

In [47]:
out_data.to_excel('总入库.xlsx',index = False)

In [58]:
in_data = pd.DataFrame()
date = ['3月','4月','5月','6月']
for i in range(0,len(file_path)):
    data = pd.read_excel(file_path[i], sheet_name = '现有库存')
    data = data[['料号','期初库存','采购入库','其它入库','领用出库','其它出库','现有库存']]
    data['月份'] = date[i]
    in_data = pd.concat([in_data, data], axis = 0)
in_data.head()

             料号      期初库存     采购入库   其它入库     领用出库     其它出库    现有库存  月份
0  430300308815    3706.0      0.0    0.0    100.0    166.0    3440  3月
1  430300308817  120431.0      0.0    0.0  13200.0    971.0  106260  3月
2  430300308819    3344.0  54795.0  325.0  53264.0      0.0    5200  3月
3  430300308818   33184.0  37806.0    0.0  27460.0  14430.0   29100  3月
4  430300309030   25588.0      0.0    0.0    468.0      0.0   25120  3月

In [59]:
in_data.to_excel('总盘点.xlsx',index = False)

In [50]:
status_data.head()
status_data = status_data[['料号','期初库存','采购入库','其它入库','领用出库','其它出库','现有库存']]
status_data.head()

             料号      期初库存   采购入库   其它入库   领用出库     其它出库    现有库存
0  430300308815    3706.0      0    0.0    100    166.0    3440
1  430300308817  120431.0      0    0.0  13200    971.0  106260
2  430300308819    3344.0  54795  325.0  53264      0.0    5200
3  430300308818   33184.0  37806    0.0  27460  14430.0   29100
4  430300309030   25588.0      0    0.0    468      0.0   25120